@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  overflow: hidden;
}

.full-height {
  min-height: 100vh;
}

#mainWrapper {
  min-height: 100vh;
}



main {
  flex: 1 1 0%;
  height: 100%;
  background-color: white;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  
}